/* balise1(,balise2,balise3...) { 
	propriete1: valeur1;
	(propriete2: valeur2;	
    propriete3: valeur3;)	
} */


/****************************************** 
*                  Block                  *
******************************************/

body {
    width: 100%;
    margin: 0px;
    min-height: 600px;
    max-height: 1000;
    min-width: 1200px;
    max-width: 1600px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: url("img/background.png");
}

#filtre {
    background: rgba(0, 0, 0, 0.2);
}

#bloc {
    text-align: left;
    margin-left: 25%;
    margin-right: auto;
    width: 850px;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
}

/****************************************** 
*                   Corps                 *
******************************************/


#date .today {
    padding-right: 2em;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.5);
}
#date .hour {
    padding-right: 2em;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.5);
}

#date {
    text-align: right;
}

#header {
    text-align: center;
}

#title {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 4px 3px 3px rgb(61, 143, 180);
    color: rgb(255, 230, 0);
}

#redirect {
    text-align: center;
}

#formulaire {
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
}

#button {
    text-align: center;
}

#button a {
    height: auto;
    background: url('img/fond-bleu.png') repeat-x;
    border-radius: 10px;
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    text-decoration: none;
}

/****************************************** 
*                  Images                 *
******************************************/

.video {
    text-align: center;
}

.box_img {
    text-align: center;
}

#stars_view img {
    height: 192px;
    width: 320px;
}

#img_earth img {
    height: 192px;
    width: 192px;
}

#pegasi img {
    height: 192px;
    width: 256px;
}

#sys_ste_binaire img {
    height: 145px;
    width: 290px;
}

#sys_sol_rotation img {
    height: 250px;
    width: 250px;
}

#gotop {
    text-align: right;
    margin-right: 10%;
}

#fusee {
    height: 96px;
    width: 96px;
    position: fixed;
}

/****************************************** 
*                  Textes                 *
******************************************/

#bloc-comm {
    text-align: center;
}

.comm {
    color: rgba(255, 47, 47, 0.856); 
    font-size: 100%; 
}

.sec_title {
    color: rgba(255, 119, 119, 0.877);
    font-size: 150%;
    text-decoration: underline;
    margin-inline-start: 1em;
    margin-inline-end: 2em;
}

.tab {
    margin-inline-start: 0.5em;
    margin-inline-end: 2em;
}

.text {
    color: rgb(255, 255, 255);
    margin-block-start: 1em;
    margin-inline-start: 3em;
    margin-inline-end: 2em;
}

.text a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.desc {
    color: rgb(169, 209, 248);
    margin-block-start: 1em;
    margin-inline-start: 3em;
    margin-inline-end: 2em;
}

.desc a {
    color: rgb(169, 209, 248);
    text-decoration: underline;
}

#infos {
    color: rgba(191, 196, 201, 0.781);
    font-style: italic;
    font-size: 15px;
    margin-inline-start: 2em;
    margin-inline-end: 5em;
}

.leg {
    color: rgb(160, 160, 160);
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-inline-start: 6em;
    margin-inline-end: 5em;
}

.leg a {
    color: rgb(160, 160, 160);
    text-decoration: underline;
}

/****************************************** 
*                Navigation               *
******************************************/

#nav {
    height: 100%;
    width: 18%;
    background: rgba(0, 0, 0, 0.836);
    position: fixed;
    border: 0px;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
    border-radius: 0px 3px 3px 0px;
    padding: 10px 10px 10px 10px;
    color: rgba(229, 184, 255, 0.815);
}

#nav_title {
    color: rgba(64, 255, 182, 0.822);
    font-size: 200%;
    text-decoration: underline;
}

#nav a {
    color: rgba(0, 81, 255, 0.911);
    font-size: 22px;
    text-decoration: none;
    border-bottom: none;
    display: inline-flex;
}

#nav a:hover {
    color: rgb(36, 229, 255);
    font-size: 25px;
    border-bottom: 3px solid;
    display: inline-block;
}

#nav .actual {
    color: rgb(36, 229, 255);
    font-size: 25px;
    border-bottom: 3px solid;
    display: inline-block;
}

#nav_nd a {
    color: rgba(18, 119, 133, 0.904);
    font-size: 16px;
    text-decoration: none;
    border-bottom: none;
    display: inline-flex;
}
#nav_nd a:hover {
    color: rgb(69, 175, 189);
    font-size: 16px;
    border-bottom: 2px solid;
    display: inline-block;
}