<!DOCTYPE html>

	<!-- Entête importante -->
<html>
    <head>
        <meta charset="utf8"	/>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='main_dark.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='favicon.png') }}" rel="icon" sizes="64x64">
        <title>{{ titre }}</title>
    </head>

    <body>
        <div id="filtre" />
        
        <!-- Navigation -->

        <div id="nav">
            <span id="nav_title">Navigation :</span><br />
            
            <ul><li><a href="{{ url_for('dark_index') }}">Accueil</a></li></ul>
            <ul><li><a href="{{ url_for('dark_galaxy') }}">Galaxies</a></li></ul>
            <ul><li><a href="{{ url_for('dark_system') }}">Systèmes</a></li></ul>
            <ul><li><a href="{{ url_for('dark_contact') }}">Contact</a></li></ul>
            <br />
            <br />
            <p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
            <span style="color: gray; font-size: 11px;">© No Copyrights : page by AvaB0</span>
            <br />
        </div>

        <!-- Titre -->

        <div id="header">
            <span id="title">Page de Contact</span><br />

            <div id="date">
                <span class="today">Date du jour : {{ date }}</span><br />
                <span class="hour">Il est {{ hour }}h {{ min }} min et {{ sec }} sec.</span>
            </div>
        </div>
        <hr />

        <div id="bloc">
            <br />
            <br />
            <br />
            <h1></h1><h2 style="color: black; margin-left: 10%;">Merci d'avoir laissé un Commentaire !</h2>
            <br />
            <div id="button">
                <a href="{{ url_for('dark_index') }}">> Retour à l'accueil <</a>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div id="infos">
                
            </div>
        </div>
    </body>
</html>
